:root {
    --color-bone: #DED8C4;
    --color-artichoke: #96917F;
    --color-dark-charcoal: #2B3031;
    --color-royal-brown: #523B2E;
    --color-peach-orange: #EFC994;
    --color-rose-blush: #D8A48F;

    --font-size-base: 20px;
    --text-general-color: var(--color-bone);
    --dark-background-color: var(--color-dark-charcoal);
    --text-highlight-color: var(--color-peach-orange);
    --color-highlight-background: var(--color-royal-brown);
    --color-text-faded: var(--color-artichoke);
    --color-6th: var(--color-rose-blush);

    --border-radius-small: 0.25rem;
    --border-radius-medium: 0.625rem;
    --border-radius-circle: 50%;
    --transition-fast: 0.3s;

    font-size: var(--font-size-base);
}

html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}